@media screen and (max-width: 1279px) and (min-width: 992px){
    .container{
        margin: 0 auto;
    }
    .header, .main1, .main2, .main3, .main4, .main5{
        padding-left: 8vw;
        padding-right: 5.9vw;
        padding-top: 2vw;
    }   
    
    .main1{
        margin-top: 1vw;
    }

    .add-inf, .add-inf1{
        display: flex;
        flex-direction: row;
    }

    .add-inf1{
        margin-right: 2vw;
    }

    .inf1{
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
    }

    .main1-inf{
        margin-top: 0.3vh;
    }

    .str-head{
        display: flex;
        flex-direction: row;
    }

    .str-head-left-hd{
        margin-top: 2vw;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 90px;
        width: 45.6vw;
    }

    .str-head-left-tx{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        margin-top: 1vh;
        width: 28.75vw;
    }

    .str-head-ph{
        width: 21.12vw;
        margin-left: 12vw;
    }
    .photo4{
        position: relative;
        z-index: 1;
    }
    .photo5{
        margin-top: -30px;
    }

    .add-auth-w{
        margin-left: 22.57vw;
        margin-top: 6.12vw;
        background: #1E4681;
        border-radius: 5px;
        width: 33.55vw;font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
    }

    .add-auth-w-tx{
        padding-top: 1.5vw;
        width: 30vw;
        margin: 0 auto;
        color: white;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 130%;
    }
    .add-auth-w-au{
        padding: 1.5vw;
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;        
        text-align: right;
    }
    .main2{
        margin-top: 13vw;
    }

    .main2-1-head{
        width: 25.34vw;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 101.38%;
    }

    .main2-2{
        margin-top: 4.5vw;
        display: flex;
        flex-direction: row;
    }
    .main2-2-add-info{
        width: 46vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }
    .main2-pic1{
        width: 22vw;
        margin-left: 15vw;
    }

    .main2-pic2{
        width: 16.12vw
    }
    .photo6{
        position: relative;
        z-index: 1;
    }
    .photo7{
        margin-top: -30px;
    }

    .photo8{
        position: relative;
        z-index: 1;
    }
    .photo9{
        margin-top: -30px;
    }
    .main2-3{
        margin-top: 9vw;
    }
    .main2-3, .main2-add-inf{
        display: flex;
        flex-direction: row;
    }

    .main2-add-inf{
        margin-top: 5vw;
        margin-left: 9.2vw;
    }

    .main2-add-inf1{
        width: 10.4vw;
        margin-right: 6.6vw;
    }

    .main2-add-inf1-1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
    }
    .main2-add-inf1-2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
    }

    .main3{
        margin-top: 11.25vw;
    }

    .main3-head{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 6vw;
        width: 46.3vw;
    }
    .main3-add-inf{
        margin-top: 6.2vw;
        display: flex;
        flex-direction: row;
    }
    .main3-add-inf1{
        margin-right: 8.5vw;
        width: 15.6vw;
    }
    .main3-add-inf1-1{
        color: #1E4681;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 130%;
    }
    .main3-add-inf1-2{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 130%;
    }
    .main4{
        margin-top: 9.5vw;
    }
    .main4-head{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 101.38%;
    }
    .main4-add-inf{
        margin-top: 4.5vw;
        width: 46vw;
        margin-left: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
    }
    .main5{
        margin-top: 11.10vw;
    }

    .main5-head{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 101.38%;
    }

    .main5-blocks{
        margin-top: 6.6vw;
        display: flex;
        flex-wrap: wrap;
    }
    .block{
        width: 26vw;
        height: 22vw;
        margin-right: 1vw;
        margin-left: 1vw;
        margin-bottom: 2vw;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 18px;
    }
    .bl1-inf1{
        width: 23vw;
        margin-top: 1vw;
        margin-left: 1.4vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
    }
    .bl1-inf2{
        margin-top: 1vw;
        margin-left: 1.4vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }

    .main6{
        background: #EFEFEF;
        margin-top: 6.5vw;
        padding-bottom: 5vw;
    }
    .main6head, .main6-block{
        margin-left: 8vw;
    }
    .main6head{
        width: 80vw;
        padding-top: 5vw;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 6vw;
    }
    .main6-block{
        background-color: white;
        width: 60vw;
        margin-top: 4vw;
        padding-bottom: 2vw;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;        
    }
    .main6-tx{
        padding-top: 2vw;
        margin: 3.2vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
    .main6-block2{
        display: flex;
        flex-direction: row;
        margin-left: 2vw;
    }
    .main6-bl2-tx{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 101.38%;
    }
    .main6-block2-1{
        margin-top: 4.5vw;
        margin-left: 2vw;
    }
    .main6-bl2-pic{
        margin-top: 1.5vw;
    }
    .main7{
        background: #9DC9C8;
        padding-left: 8vw;
        padding-top: 7vw;
        padding-bottom: 8vw;
    }
    .dat{
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        line-height: 6vw;       
    }
    .cos{
        margin-top: 3.75vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 101.38%;
    }
    .pr{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 101.38%;
    }
    .main7-add-inf{
        margin-top: 5.2vw;
        display: flex;
        flex-direction: row;
    }
    .main7-add-inf1{
        width: 18.5vw;
        margin-right: 4.8vw;
    }
    .a{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 2.5vw;
    }
    .tx{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 101.38%;   
    }
    .footer{
        background-color: black;
        padding-left: 8vw;
        color: white;
    }
    .footer-head{
        padding-top: 3.5vw;
        display: flex;
        flex-direction: row;
    }
    .phone, .message{
        display: flex;
        flex-direction: row;
        margin-bottom: 1vw;
    }
    .footer-head-con{
        margin-left: 45vw;
    }
    .footer-head-con p{
        margin-left: 1vw;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 101.38%;
    }
    .footer-main{
        margin-top: 1vw;
    }
    .icon{
        margin-right: 0.7vw;
    }
    .footer-footer{
        margin-top: 5vw;
        padding-bottom: 3vw;
    }
    .footer-footer p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 101.38%;   
    }
}