@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
body{
    margin-left: 121px;
    margin-top: 21px;
    font-family: 'Roboto', sans-serif;
}

.add-inf{
    display: flex;
    flex-direction: row;
}

.add-inf1, .add-inf2, .add-inf3{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.add-inf2, .add-inf3{
    margin-left: 26px;
}

.str-head h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
}
  
.str-head{
    display: flex;
    flex-direction: row;
}
.main2-1-head h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}
.main2-2 {
    display: flex;
    flex-direction: row;
    width: 662px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.str-head-ph{
    display: flex;
    flex-direction: column;
}
.photo4{
    z-index: 100;
}