@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Roboto');
.main7{
    
    padding-top: 100px;
    padding-left: 191px;
    margin-top: -16px;
    margin-left: -231px;
    width: 1765px;
    height: 660px;
    background: #9DC9C8;
}

.date{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 101.38%;
}
.cos{
    margin-top: -10px;
    margin-bottom: 0px;
}
.pr{
    margin-top: -80px;
    margin-bottom: 0px;
}
.cost{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.price{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;
}

.main7-add-inf{
    margin-top: 74px;
    display: flex;
    flex-direction: row;
}
.main7-add-inf1{
    margin-right: 70px;
}
.a1{
    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}
.tx1{
    width: 300px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;
}
.footer {
    margin-left: -230px;
    display: flex;
    width: 1955px;
    background-color: black;
    color: white;
    height: 390px;
}

.f-contain{
    padding-top: 50px;
    margin-left: 200px;
}
.footer-head, .phone, .message{
    display: flex;
    flex-direction: row;
}
.footer-head-con{
    margin-top: -30px;
    margin-left: 900px;
}

.footer-head-con p{
    margin-left: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
}

.footer-main{
    margin-top: 30px;
}

.footer-footer{
    margin-top: 120px;
}