@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

 .container{ 
    max-width: 1440px;
    margin: auto;
    margin-left: 170px;
} 

.img-head{
    margin-left: 37px;
}

.add-inf{
    display: flex;
    flex-direction: row;
    margin-left: 37px;
    margin-top: 100px;
}

.inf1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    margin-top: -8px;
}

.add-inf1, .add-inf2, .add-inf3{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    width: 150px;
    height: 32px;
}

.photo1 {
    margin-top: 10px;
    margin-right: 8px;
    width: 21px;
}
.photo2 {
    margin-right: 10px;
    margin-top: 10px;
}
.photo3 {
    margin-left: -16px;
    margin-right: 13px;
    margin-top: 10px;
}
.str-head{
    margin-left: 37px;
    display: flex;
    flex-direction: row;
}

.str-head-left-hd{
    width: 850px;
}

.str-head h1{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 101.38%;   
}

.str-head-left-tx{
    width: 530px;
}

.str-head-left p{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 25px;
    line-height: 150%;
}
.str-head-left-tx{
    height: 62px;
    margin-top: -45px;
}

.add-auth-w{
    margin-left: 400px;
    margin-top: 87.62px;
    width: 550px;
    height: 250px;
    background: #1E4681;
    border-radius: 5px;
}

.add-auth-w-tx{
    color: white;
    font-family: 'Roboto Slab';
    font-style: normal;
    width: 500.59px;
    height: 113px;
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    padding-top: 1px;
    margin-right: 27px;
    margin-left: 26px;
} 

.add-auth-w-au{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: right;
    margin: 85px 19px 0px 185px;
}

.str-head-ph{
    display: flex;
    flex-direction: column;
}
.photo4{
    margin-top: 4px;
    z-index: 100;
    margin-left: 141px;
    width: 400px;
}
.pic{
    width: 100%;
}
.photo5{
    margin-left: 175px;
    margin-top: -25px;
}

.main2-2 {
    display: flex;
    flex-direction: row;
    width: 1172px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
}

.main2{
    margin-left: 37px;
}
.main2-1-head h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    width: 365px;
    height: 93px;
    margin-top: 174px;
}

.main2-2-add-info {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 150%;
    margin-top: -50px;
}
.main2-2-add-info-1{
    width: 750px;
}
.photo6 {
    margin-top: -20px;
    margin-left: 300px;
    position: relative;
    z-index: 1;
    width: 400px;
}
.photo7 {
    margin-left: 240px;
    margin-top: -40px;
    width: 500px;
}
.main2-3 {
    display: flex;
    flex-direction: row;
}
.main2-pic2 {
    display: flex;
    flex-direction: column;
}
.photo8 {
    margin-top: 94px;
    position: relative;
    z-index: 100;
    width: 320px;
}
.photo9 {
    margin-left: 33px;
    margin-top: -25px;
    width: 280px;
}
.main2-add-inf {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}
.main2-add-inf1 {
    margin-left: 132px;
    width: 150px;
}
.main2-add-inf1-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 23px;
}
.main2-add-inf1-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: -15px;
}


@media screen and (max-device-width: 375px) {
    .str-head{
        display: flex;
        flex-direction: column;
    }
    .photo4 {
        argin-top: -15px;
    }
}