.main5 {
    margin-top: 203px;
    margin-left: -40px;
    width: 1600px;
}
.main5-head{
    width: 905px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}

.main5-blocks{
    display: flex;
    flex-wrap: wrap;
    margin-left: -74px;
}

.block{
    width: 25vw;
    height: 360px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin: 95px 18px -44px 37px;
}

.bl1-inf1{
    width: 420px;
    height: 39px;
    margin-top: -20px;
    margin-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}

.bl1-inf2{
    width: 365px;
    height: 63px;
    margin-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
}


/*----------------------Main 6-------------------*/

.main6{
    margin-top: 121px;
    margin-left: -230px;
    background-color: #EFEFEF;
    width: 1955px;
    height: 780px;
}


.main6head{
    margin-left: 191px;
    padding-top: 41px;
    width: 987px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 56px;
}

.main6-block{
    margin-top: 80px;
    margin-left: 192px;
    width: 900px;
    height: 451px;
    border-radius: 30px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
}

.main6-tx{
    padding-top: 15px;
    margin-left: 45px;
    width: 760px;
    height: 203px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.main6-block2-1{
    margin-left: 30px;
}

.main6-block2{
    margin-left: 30px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.main6-bl2-tx{
    width: 353px;
    height: 59px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
}


@media screen and (max-device-width: 805px) and (min-device-width: 375px){
    .container{
        margin-left: 220px;
    }
    .bl1-inf1{
        width: 400px;
        height: 39px;
        margin-top: -20px;
        margin-left: 14px;
        font-weight: 700;
        font-size: 29px;
        line-height: 30px;
    }
    .bl1-inf2{
        width: 365px;
        height: 63px;
        margin-left: 14px;
        font-weight: 400;
        font-size: 27px;
        line-height: 32px;
    }

    .block{
        width: 522px;
        height: 400px;
    }

    .main5 {
        margin-top: 203px;
        margin-left: 0px;
        width: 1900px;
    }

    .main6head{
        width: 1400px;
        font-size: 33px;
    }

}

@media (max-device-width: 375px) {

    .main5-blocks{
        display: flex;
        flex-direction: column;
        margin-left: 70px;
    }

    
    .bl1-inf1{
        margin-left: 20px;
        width: 700px;
        height: 39px;
        font-size: 50px;
        line-height: 50px;
    }
    .bl1-inf2{
        margin-top: 65px;
        width: 505px;
        height: 63px;
        margin-left: 30px;
        font-weight: 400;
        font-size: 36px;
        line-height: 32px;
    }

    .block{
        width: 800px;
        height: 600px;
        border-radius: 60px;
    }

    .main5 {
        margin-top: 203px;
        margin-left: 0px;
        width: 1900px;
    }
    
}