@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

.main3{
    margin-top: 178px;
}

.main3 h1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
    width: 667px;
    height: 93px;
    margin-top: 162px;
}
.main3-add-inf1-1 {
    width: 350px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    color: #1E4681;
}
.main3-add-inf {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    width: 223px;
}
.main3-add-inf1-2 {
    width: 280px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-top: -15px;
}
.main3-add-inf1 {
    margin-right: 90px;
}

.main4 {
    margin-top: 200px;
}
.main4 h1 {
    width: 667px;
    height: 93px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 56px;
}
.main4-add-inf {
    width: 690px;
    height: 374px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 36px;
}

